body{
  background-color: #FFFFFF;
}

.container-geral{
  height: 100vh;
  display: flex;
}

.container-esquerdo{
  padding: 20px;
  margin-top: 60px;
  margin-left: 30px;
  padding-left: 90px;
}

.container-direito{
  margin-top: 40px;
  padding: 40px 100px 10px 90px;
  margin-top: 40px; 
}

.container-relogio{
  margin-top: 40px;
}

.borda{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.container-relogio .borda{
  width: 500px;
  height: 280px;
}

.relogio{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container-direito{

}

.container-ocorrencia .borda{
  height: 110px;
}

.container-input{
  display: inline-flex;
}

.input-senha{
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 20px;
  padding-left: 10px;
  background-color: lightgray;
  margin-left: 90px;
}

.container-input .botao-senha{
  padding-left: 20px;
}

.enviar-senha{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}

.container-posicionamento{
  padding-top: 30px;
}

.container-posicionamento .borda{
  
  height: 200px;
}

.container-botao{
  padding-top: 40px;
  padding-left: 420px;
}

.botao-sair{
  width: 100px;
  height: 40px;
  background-color: #FF0000;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}
