body{
  background-color: #FFFFFF;
}

.container-geral{
  height: 100vh;
  display: flex;
}

.container-esquerdo{
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  margin-left: 30px;
  padding-left: 90px;
}

.container-direito{
  flex: 1;
  padding: 20px;
  padding-right: 100px;
}

.container-relogio{
  margin-top: 40px;
}

.borda{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.container-relogio .borda{
  width: 400px;
  height: 280px;
}

.relogio{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

